  <nav class="navbar navbar-default navbar-mobile navbar-fixed light bootsnav">
      <div class="container">
      
        <!-- Start Logo Header Navigation -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
            <i class="fa fa-bars"></i>
          </button>
          <a class="navbar-brand" routerLink="/">
            <img src="assets/img/logo.png" class="logo logo-display" alt="">
            <img src="assets/img/logo.png" class="logo logo-scrolled" alt="">
          </a>

        </div>
        <!-- End Logo Header Navigation -->

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-menu">
        
          <ul class="nav navbar-nav navbar-left" data-in="fadeInDown" data-out="fadeOutUp">
          
            
                <li><a routerLink="alltixs">All Tixs</a></li>
                <li><a routerLink="partners">Partners</a></li>
                <li><a routerLink="affiliates">Affiliates</a></li>
                <li><a routerLink="alltixs">Bookinsg</a></li>

                
          </ul>
          
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown dash-link"><a  class="dropdown-toggle"><img src="assets/img/user-3.jpg" class="img-responsive avatar" alt="" />Hi, Daniel</a> 
              <ul class="dropdown-menu left-nav">
                <li><a routerLink="mytixs">My Tixs</a></li>
                <li><a href="profile.html">My Profile</a></li>
                <li><a routerLink="login">Log Out</a></li>
              </ul>
            </li>
          </ul>
            
        </div>
        <!-- /.navbar-collapse -->
      </div>   
    </nav>