	<div class="theme-bg log-screen" style="background-image:url(assets/img/banner-log.png);">
	
		<section class="log-wrapper">
			<div class="container">
				<div class="col-md-6 col-md-push-6">
					<h3 class="log-title">Thetixs LogIn</h3>
					<form class="form" #formLogin="ngForm" (ngSubmit) ="onLogin()">
						<div class="form-group">
							<label for="inputEmail">Email</label>
							<input type="email" class="form-control" id="email" placeholder="User Name" name="email" [(ngModel)]="user.email"required>
						</div>
						<div class="form-group">
							<label for="inputEmail">Password</label>
							<input type="password" class="form-control" id="password" placeholder="*******" name="password" [(ngModel)]="user.password" required>
						</div>
						<div class="form-group">
							<div class="row">
								<div class="col-md-6 col-sm-6">
									<button type="submit" class="btn btn-dark">Login</button>
								</div>
								<div class="col-md-6 col-sm-6">
									<p>Are you new? <a routerLink="signup">Click Here</a></p>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</section>
	
    </div>