<div class="theme-bg log-screen" style="background-image:url(assets/img/banner-log.png);">
	
		<section class="log-wrapper">
			<div class="container">
				<div class="col-md-6 col-md-push-6">
					<h3 class="log-title">Corporate LogIn</h3>
					<form class="form">
						<div class="form-group">
							<div class="row">
								<div class="col-md-6 col-sm-6">
									<label for="inputEmail">Full Name</label>
									<input type="name" class="form-control" id="inputEmail" placeholder="Full Name" required>
								</div>
								
								
							</div>
							<div class="row">
								
								<div class="col-md-6 col-sm-6">
									<label for="inputEmail">Email</label>
									<input type="email" class="form-control" id="inputEmail" placeholder="Email" required>
								</div>
								<div class="col-md-6 col-sm-6">
									<label for="inputEmail">Password</label>
									<input type="password" class="form-control" id="inputEmail" placeholder="*******" required>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="row">
								<div class="col-md-6 col-sm-6">
									<button type="submit" class="btn btn-dark">SignUp</button>
								</div>
								<div class="col-md-6 col-sm-6">
									<p>Already Have Account? <a href="signup.html#">LogIn Here</a></p>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</section>		
  </div>